*.iml
/Document-Manager-Root/Core-Modules/target/
/Document-Manager-Root/Web-Modules/target/
/Document-Manager-Root/target/
/Security-Foundation/Cartridge-Modules/WUI-Security/target/
.idea/**
target/**
Massive-Loader-Root/.idea/artifacts/Massive_Loader_war.xml
Massive-Loader-Root/.idea/artifacts/Massive_Loader_war_exploded.xml
Massive-Loader-Root/.idea/compiler.xml
Massive-Loader-Root/.idea/copyright/profiles_settings.xml
Massive-Loader-Root/.idea/encodings.xml
Massive-Loader-Root/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
Massive-Loader-Root/.idea/libraries/Maven__bouncycastle_bcmail_jdk14_138.xml
Massive-Loader-Root/.idea/libraries/Maven__bouncycastle_bcprov_jdk14_138.xml
Massive-Loader-Root/.idea/libraries/Maven__co_com_foundation_soaint_Foundation_Framework_1_0_SNAPSHOT.xml
Massive-Loader-Root/.idea/libraries/Maven__com_fasterxml_classmate_1_1_0.xml
Massive-Loader-Root/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_1.xml
Massive-Loader-Root/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_1.xml
Massive-Loader-Root/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_1.xml
Massive-Loader-Root/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_2.xml
Massive-Loader-Root/.idea/libraries/Maven__com_google_code_gson_gson_2_7.xml
Massive-Loader-Root/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
Massive-Loader-Root/.idea/libraries/Maven__com_google_zxing_core_3_2_1.xml
Massive-Loader-Root/.idea/libraries/Maven__com_ibm_icu_icu4j_57_1.xml
Massive-Loader-Root/.idea/libraries/Maven__com_lowagie_itext_2_1_7_js5.xml
Massive-Loader-Root/.idea/libraries/Maven__com_microsoft_sqlserver_sqljdbc4_4_0.xml
Massive-Loader-Root/.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
Massive-Loader-Root/.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_2_11.xml
Massive-Loader-Root/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_2_11.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_0.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_codec_commons_codec_1_5.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_digester_commons_digester_2_1.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_2.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_io_commons_io_2_5.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
Massive-Loader-Root/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
Massive-Loader-Root/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_jsonwebtoken_jjwt_0_7_0.xml
Massive-Loader-Root/.idea/libraries/Maven__io_netty_netty_all_4_0_30_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_core_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_schema_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_spi_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_spring_web_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_swagger2_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_6_1.xml
Massive-Loader-Root/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_10.xml
Massive-Loader-Root/.idea/libraries/Maven__io_swagger_swagger_models_1_5_10.xml
Massive-Loader-Root/.idea/libraries/Maven__jakarta_regexp_jakarta_regexp_1_4.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_activation_activation_1_1.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_el_el_api_2_2.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_enterprise_cdi_api_1_1.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_javaee_api_7_0.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_javaee_web_api_7_0.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
Massive-Loader-Root/.idea/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
Massive-Loader-Root/.idea/libraries/Maven__net_sf_ehcache_ehcache_2_10_1.xml
Massive-Loader-Root/.idea/libraries/Maven__net_sf_jasperreports_jasperreports_6_4_0.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_commons_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_core_client_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_hqclient_protocol_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_jms_client_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_journal_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_native_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_activemq_artemis_selector_1_1_0_wildfly_011.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_commons_commons_csv_1_4.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_commons_commons_dbcp2_2_1_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_commons_commons_pool2_2_4_2.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_core_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_bindings_soap_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_bindings_xml_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_databinding_jaxb_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_jaxws_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_simple_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_transports_http_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_ws_addr_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_ws_policy_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_cxf_cxf_rt_wsdl_3_1_7.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_0_2.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_0_2.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_4_5_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_lucene_lucene_core_4_5_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_lucene_lucene_queries_4_5_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_4_5_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_4_5_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_neethi_neethi_3_0_3.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_poi_poi_3_10_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_9.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_9.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_ws_xmlschema_xmlschema_core_2_2_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_3_0.xml
Massive-Loader-Root/.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_8.xml
Massive-Loader-Root/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_9.xml
Massive-Loader-Root/.idea/libraries/Maven__org_bouncycastle_bcmail_jdk14_1_38.xml
Massive-Loader-Root/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk14_1_38.xml
Massive-Loader-Root/.idea/libraries/Maven__org_bouncycastle_bctsp_jdk14_1_38.xml
Massive-Loader-Root/.idea/libraries/Maven__org_codehaus_castor_castor_core_1_3_3.xml
Massive-Loader-Root/.idea/libraries/Maven__org_codehaus_castor_castor_xml_1_3_3.xml
Massive-Loader-Root/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
Massive-Loader-Root/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
Massive-Loader-Root/.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_3_1_4.xml
Massive-Loader-Root/.idea/libraries/Maven__org_codehaus_woodstox_woodstox_core_asl_4_4_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_eclipse_jdt_core_compiler_ecj_4_3_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b32.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_5_0_b32.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_5_0_b32.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_5_0_b32.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_5_0_b32.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_25_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_25_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_25_1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hamcrest_hamcrest_all_1_3.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_hibernate_core_5_2_2_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_hibernate_ehcache_5_2_2_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_5_2_2_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_hibernate_validator_5_2_2_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_hibernate_validator_annotation_processor_5_2_2_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_jandex_2_0_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_jboss_ejb_client_2_0_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_jboss_remote_naming_2_0_4_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_2_1_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_marshalling_jboss_marshalling_1_4_10_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_marshalling_jboss_marshalling_river_1_4_10_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_remoting_jboss_remoting_4_0_18_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_sasl_jboss_sasl_1_0_5_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_1_spec_1_0_0_Beta1.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_spec_javax_jms_jboss_jms_api_2_0_spec_1_0_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_xnio_xnio_api_3_3_4_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jboss_xnio_xnio_nio_3_3_4_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jfree_jcommon_1_0_23.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jfree_jfreechart_1_0_19.xml
Massive-Loader-Root/.idea/libraries/Maven__org_jgroups_jgroups_3_6_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_mapstruct_mapstruct_1_0_0_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__org_olap4j_olap4j_0_9_7_309_JS_3.xml
Massive-Loader-Root/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
Massive-Loader-Root/.idea/libraries/Maven__org_projectlombok_lombok_1_16_16.xml
Massive-Loader-Root/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_21.xml
Massive-Loader-Root/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_12_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_10_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_retry_spring_retry_1_1_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_aop_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_aspects_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_beans_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_context_4_2_6_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_context_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_core_4_0_4_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_core_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_expression_4_2_6_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_expression_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_orm_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_test_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_tx_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_web_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_2_RELEASE.xml
Massive-Loader-Root/.idea/libraries/Maven__org_wildfly_checkstyle_wildfly_checkstyle_config_1_0_4_Final.xml
Massive-Loader-Root/.idea/libraries/Maven__stax_stax_1_2_0.xml
Massive-Loader-Root/.idea/libraries/Maven__stax_stax_api_1_0_1.xml
Massive-Loader-Root/.idea/libraries/Maven__wsdl4j_wsdl4j_1_6_3.xml
Massive-Loader-Root/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
Massive-Loader-Root/.idea/libraries/Maven__xml_resolver_xml_resolver_1_2.xml
Massive-Loader-Root/.idea/misc.xml
Massive-Loader-Root/.idea/modules.xml
Massive-Loader-Root/.idea/vcs.xml
Massive-Loader-Root/.idea/workspace.xml
